:root {
    --bg-primary: #222831; /* var(--bg-primary) */
    --bg-secondary: #393E46; /* var(--bg-secondary) */
    --bg-tertiary: #8B949E; /* var(--bg-tertiary) */
    --text-primary: #E6EDF3; /* var(--text-primary) */
    --text-secondary: #B1BAC4; /* var(--text-secondary) */
    --accent: #64FFDA; /* var(--accent) */
    --hover: #80FFF3; /* var(--hover) */
    
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
}

#custom-cursor {
    width: 600px;
    height: 600px;
    background: radial-gradient(
        rgba(255, 255, 255, 0.15) 0%,
        rgba(255, 255, 255, 0) 70%,
        rgba(34, 40, 49, 1) 100%,
        transparent
    );
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: screen;
    transform: translate(-50%, -50%);
}